{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Your Page Title</title>
</head>
<body>
    <center>
        <h1>Enter Your Registered Email Id</h1>
        {% if msg %}
            <b style="color: rebeccapurple">{{ msg }}</b>
        {% endif %}
        <form method="post" action="{% url 'forgot-password' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Email</td>
                    <td><input type="email" name="email"></td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" name="action" value="Send OTP" class="btn btn-primary">
                    </td>
                </tr>
            </table>
        </form>
    </center>
</body>
</html>
{% endblock %}
