{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<center>
	<h1>SIGNUP HERE</h1>
	<form method="post" action="{% url 'signup' %}">
		{% csrf_token %}
		<table>
			<tr>
				<td>Name</td>
				<td><input type="text" name="name"></td>
			</tr>
			<tr>
				<td>Email</td>
				<td><input type="email" name="email"></td>
			</tr>
			<tr>
				<td>Mobile</td>
				<td><input type="text" name="mobile"></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" name="password"></td>
			</tr>
			<tr>
				<td>Confirm Password</td>
				<td><input type="password" name="cpassword"></td>
			</tr>
		
			<tr>
				<td colspan="2" align="center">
					<input type="submit" name="action" value="SIGNUP" class="btn btn-danger">
					{% if msg %}
					<b style="color: rebeccapurple">{{msg}}</b>
					{% endif %}
				</td>
			</tr>
		</table>
	</form>
</center>
</body>
</html>
{% endblock %}